 /*
 *Same as Document.css whithout the counter-reset
 */

body {
  max-width:          900px;
  margin:             0 auto;
}

img {
  max-width:          100%;
}

*{
    font-family:      Verdana;
    font-size:        10pt;
}

p{
  text-align:         justify;
  text-justify:       inter-word;
}

h1{
	font-weight:	      normal;	
  margin-top:         50px;
  margin-bottom:      30px;
  /*margin-left:      10%;*/
  font-size:          110%;
}
h1:before {
  content:            "Objet : ";
  float:              left;
  margin-right:       5px;
  font-weight:        bold
}

a.footnote{
  font-size:          70%;
  vertical-align:     top;
}  

/*Usual Links*/
a:link,a:visited{
  color:              black;
  text-decoration:    underline;
}
a:hover,a:active{
  color:              white;
  background-color:   #A0A0A0;
}

#header {
  display:            block;
  margin-top:         10px;
}

#to * {
  text-align:         right;
  margin:             0;
  padding:            0;
}

#from * {
	text-align:	        left;
  margin:             0;
  padding:            0;
}

